{% block content %}


        <table>
                <caption>Alien football stars</caption>
                <tr>
                        <th scope="col">Nom</th>
                        <th scope="col">Prenom</th>
                        <th scope="col">Age</th>
                        <th scope="col">Sexe</th>
                </tr>

                        <tr>
                                {% for data in data_1 %}
                                <td>{{ data.nom[0] }}</td>
                                <td>{{ data.prenom }}</td>
                                <td>{{ data.age }}</td>
                                <td>{{ data.sexe }}</td>
                                {% endfor %}

                        </tr>


        </table>


{% endblock %}